<html>
	<head>
		<link rel="stylesheet" type="text/css" href="http://cdn.ink.sapo.pt/3.0.5/css/ink-flex.min.css">
		<link rel="stylesheet" type="text/css" href="http://cdn.ink.sapo.pt/3.0.5/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
		<script type="text/javascript" src="http://cdn.ink.sapo.pt/3.0.0/js/ink-all.js"></script>
		<script type="text/javascript" src="http://cdn.ink.sapo.pt/3.0.0/js/autoload.js"></script>
		<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	</head>
	<body data-user="[% user %]"[% IF viewUser != user %] class="locked"[% END %]>

[% INCLUDE comps/menu.tt -%]

		<div class="ink-grid">

			<div class="column-group preheader">
				<div class="control large-85 xlarge-85 hide-small"></div>
				<div class="control large-15 xlarge-15 small-100">
					<select class="usersel">
[% FOREACH user IN users -%]
						<option value="[% user %]"[% IF user == viewUser %] selected[% END %]>[% user %]</option>
[% END -%]
					</select>
				</div>
			</div>

[% INCLUDE comps/header.tt -%]

			<div class="ink-form">
				<div class="control-group column-group no-margin">
					<div class="control large-20 xlarge-20 small-100">
						<input type="text" id="dayPicker" class="ink-datepicker" value="[% date %]" data-prev="[% date %]"/>
					</div>
					<div class="control large-60 xlarge-60 hide-small"></div>
				</div>

				<div class="column-group horizontal-gutters">
					<div class="midpane large-100 xlarge-100 small-100">

						<div class="report custeio">
							<table class="ink-table">
								<thead>
									<tr>
										<th class="project_day">Day/Project</th>
										<th class="time">Time</th>
										<th class="pct"></th>
									</tr>
								</thead>
								<tbody>
[% FOREACH day IN days -%]
									<tr class="day">
										<td class="date">[% day.Day %]</td>
										<td class="time">[% day.TotalTime %]</td>
										<td class="pct">&nbsp;</td>
									</tr>
[%   FOREACH row IN day.Projects -%]
									<tr>
										<td class="project">[% row.Name %][% IF showNotes AND row.Tasks %][% FOREACH task IN row.Tasks %]<span class="notes">[% task.Notes %]</span>[% END %][% END %]</td>
										<td class="time">[% row.Time %]</td>
										<td class="pct">[% row.Percentage %]</td>
									</tr>
[%   END -%]
[% END -%]
								</tbody>
							</table>
						</div>
						<div class="totals">
							<table class="ink-table">
								<tr>
									<td class="project"></td>
									<td class="time">[% total %]</td>
									<td class="pct"> 100 %</td>
								</tr>
							</table>
						</div>
						<div class="button-group">
							<button id="newevent" class="ink-button blue">+</button>
							<button id="newtxtevents" class="ink-button blue">+ .txt</button>
							<button id="save" class="ink-button green">Gravar</button>
						</div>
					</div>
				</div>
			</div>

		</div>

[% INCLUDE comps/modal.tt -%]

		<script type="text/javascript" src="/assets/js/main.js"></script>

	</body>
</html>
