            <div class="column-group preheader">
                <div class="control large-85 xlarge-85 hide-small"></div>
                <div class="control large-15 xlarge-15 small-100 usersel-layer">
                </div>
            </div>

            <header>
				<h1><%= args.title %></h1>
			</header>